.navbar {
  font-family: 'Sacramento', cursive;
  font-size: x-large;
  position: fixed;
}

.colapso {
  height: auto;
}

i {
  color: rgb(59, 59, 59);
}

.form {
  display: flex;
  flex-flow: row nowrap;
}